/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.hero1 {max-width:64px; max-height:64px; }
.hero1::after {content: '\00a0';display: inline-block; width:64px; height:64px; background-position: 0.5076142131979695% 50%; background-size: 407.8125% 103.125%; background-image: url(hero.png);padding: 0; }
div.hero1::after {max-width:64px; width:100%;height:0;padding: 0 0 100% 0;}
.hero_2 {max-width:64px; max-height:64px; }
.hero_2::after {content: '\00a0';display: inline-block; width:64px; height:64px; background-position: 33.50253807106599% 50%; background-size: 407.8125% 103.125%; background-image: url(hero.png);padding: 0; }
div.hero_2::after {max-width:64px; width:100%;height:0;padding: 0 0 100% 0;}
.hero_3 {max-width:64px; max-height:64px; }
.hero_3::after {content: '\00a0';display: inline-block; width:64px; height:64px; background-position: 66.49746192893402% 50%; background-size: 407.8125% 103.125%; background-image: url(hero.png);padding: 0; }
div.hero_3::after {max-width:64px; width:100%;height:0;padding: 0 0 100% 0;}
.hero_4 {max-width:64px; max-height:64px; }
.hero_4::after {content: '\00a0';display: inline-block; width:64px; height:64px; background-position: 99.49238578680203% 50%; background-size: 407.8125% 103.125%; background-image: url(hero.png);padding: 0; }
div.hero_4::after {max-width:64px; width:100%;height:0;padding: 0 0 100% 0;}

@keyframes hero-frames {
    0% { background-position: 0.5076142131979695% 50%;  }
    25% { background-position: 33.50253807106599% 50%;  }
    50% { background-position: 66.49746192893402% 50%;  }
    75% { background-position: 99.49238578680203% 50%;  }
}

.hero-animation {
    max-width: 64px;
    max-height: 64px;
}
.hero-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 64px;
    height: 64px;
    padding: 0;
    background-image: url(hero.png);
    background-size: 407.8125% 103.125%; 
    animation-name: hero-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.hero-animation::after {
    max-width: 64px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:f63d8ae8294e256c140cee68703dc51e:1dc91aeafe7d289b7d74debf0f627613:f16e25bc7cb2cd0cf1b936ba1c48f53f$ */
